textarea{

    resize:none;
    margin:auto;
    margin-top:1rem;
    
}

.form-control{
    width:95%;
    background-color:rgb(44, 44, 44);
    border:1px solid rgb(44, 44, 44);
    color:rgb(158, 156, 156);
    
}


body{
    background-color:rgb(31, 30, 30);
}

.form-control:focus{
    background-color:rgb(44, 44, 44);
    font-size:1.1rem;
}

.form-control[readonly]{
    background-color:rgb(44, 44, 44);
    font-size:1.1rem;
    color:rgb(225, 151, 76);
    font-family: 'Roboto', sans-serif;
}